@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@500;700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*! font-family: 'Fraunces', serif;
/**font-family: 'Montserrat', sans-serif;*/

body {
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  width: 600px;
  display: flex;
  justify-content: center;
  border-radius: 0.6rem;
}

.img-div {
  width: 300px;
  height: 450px;
  border-radius: 0.6rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.right-div {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0px 23px;
  justify-content: space-around;
}

.header-start {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  opacity: 0.6;
	
}

.main {
  font-family: "Fraunces", serif;
  font-size: 2.2rem;
}

.par-div {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  opacity: 0.8;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.new-price {
  color: hsl(158, 36%, 37%);
  font-size: 40px;
  font-weight: 700;
  font-family: "Fraunces", serif;
}

.old-price {
  text-decoration: line-through;
  opacity: 0.65;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.btn-div {
  border: none;
  padding: 20px 30px;
  border-radius: 0.6rem;
  align-items: center;
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-family: "Montserrat", sans-serif;
  gap: 0.6rem;
  display: flex;
  justify-content: center;
  transition: 0.3s;
	white-space: nowrap;
}

.btn-div:hover {
  transform: scale(0.97);
  cursor: pointer;
  opacity: 0.9;
}

@media screen and (max-width: 700px) {
	.container{
		flex-direction: column;
		width: 300px;
		gap: 1rem;
	}

	.img-div{
		border-top-right-radius: 0.6rem;
		border-bottom-left-radius: 0;
	}
	.btn-div{
		margin-bottom: 1rem;
	}

	.right-div{
		gap: 1rem;
	}

}
